<app-nav-bar></app-nav-bar>

<div class="d-flex">
    <!--LEFT-->
    <app-side-bar></app-side-bar>
    <!-- RIGHT -->
    <div class="flex-grow-1 mx-3">
        <router-outlet></router-outlet>
    </div>
</div>
<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2023 Copyright:
        <a class="text-reset fw-bold" href="https://ZLynx.dev/">Developer ZLynx</a>
    </div>
</footer>